<div class="bar bar-header bar-stable" style="height: 65px">
  <div class="row">
    <div class="col col-25">
    </div>
    <div class="col col-50" style="text-align: center; justify-content: center">
      <h3>FAQ</h3>
    </div>
    <div class="col col-25">
    </div>
  </div>
</div>

<div style="margin-top: 80px; margin-left: 10px; overflow: scroll">
  <h5 style="color: white">
    What is Routy?
  </h5>
  <p style="color: white">
    Routy is an app that generates a trip in a fast and easy way. It is originally designed for frequent layovers to acquire a new trip route based on their budget and time requirements.
  </p>
  <h5 style="color: white">
    Why Routy?
  </h5>
  <p>
    <ul>
      <li style="color: white">A route within one minute!</li>
      <li style="color: white">A route that limits to a certain budget.</li>
      <li style="color: white">A route that updates time and location automatically.</li>
      <li style="color: white">It is quick, easy, quality assured! and Free!</li>
    </ul>
  </p>
  <h5 style="color: white">
    When do you need Routy?
  </h5>
  <p>
    <ul>
      <li style="color: white">If you have a break but has no time to customize your trip for multiple destinations,</li>
      <li style="color: white">If you missed a flight or had an accident schedule change,</li>
      <li style="color: white">If you suddenly get a free afternoon but can’t decide where to travel,</li>
      <li style="color: white">Don’t panic! Use Routy to generate a new plan within a minute!</li>
    </ul>
  </p>
  <h5 style="color: white">
    What are the possible customizations?
  </h5>
  <p>
    <ul>
      <li style="color: white">Other itineraries: Choose other possible itineraries within your budget and time limit. Click one specific itinerary to show the details.</li>
      <li style="color: white">Advanced options: Change your budget and time limits here.</li>
      <li style="color: white">Categories: Choose the categories that you prefer to make those destinations more likely appears in the suggested routes. For example, museum, music, art, mountains, national parks, amusement park, grocery, cafe, restaurants, shopping malls etc.</li>
      <li style="color: white">Share: We encourage you to share Routy routes with your friends on Facebook, Twitter, and Google+ to help other friends easily find interesting routes.</li>
      <li style="color: white">Help: If you have any question, have any confusion, or want any features or service, please contact us, and we will try our best to answer your questions and realize your requests.</li>
    </ul>
  </p>
</div>
