<div class="bar bar-header bar-stable" style="height: 65px">
  <div class="row">
    <div class="col col-25">
    </div>
    <div class="col col-50" style="text-align: center; justify-content: center">
      <h3>Itinerary</h3>
    </div>
    <div class="col col-25">
    </div>
  </div>
</div>
<ui-gmap-google-map center='map.center' zoom='map.zoom' control='map.control' options="mapOptions">
  <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" idkey="marker.id">
  </ui-gmap-marker>
</ui-gmap-google-map>
<div class="row">
  <button class="button button-block button-balanced">Show Details</button>
</div>
