<div class="bar bar-header bar-stable" style="height: 65px">
  <div class="row">
    <div class="col col-25">
    </div>
    <div class="col col-50" style="text-align: center; justify-content: center">
      <h3>Itinerary Options</h3>
    </div>
    <div class="col col-25">
    </div>
  </div>
</div>
<div class="row" style="margin-top: 70px">
  <div class="col">
    <a ui-sref="search.start">
      <div class="list card">
        <div class="item item-image">
          <img src="img/settings_icon.png" style="margin-top: -10px; margin-bottom: -10px">
        </div>
        <a class="item item-icon-left">
          <i class="icon ion-ios-time"></i> Time/Date
        </a>
      </div>
    </a>
  </div>
  <div class="col">
    <a ui-sref="search.categories">
      <div class="list card">
        <div class="item item-image">
          <img src="img/categories_icon.png" style="margin-top: -10px; margin-bottom: -10px">
        </div>
        <a class="item item-icon-left">
          <i class="icon ion-ios-list"></i> Categories
        </a>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col">
    <a ui-sref="search.options">
      <div class="list card">
        <div class="item item-image">
          <img src="img/itineraries_icon.png" style="margin-top: -10px; margin-bottom: -10px">
        </div>
        <a class="item item-icon-left">
          <i class="icon ion-arrow-swap"></i> Itinerary
        </a>
      </div>
    </a>
  </div>
  <div class="col">
    <a ui-sref="faq">
      <div class="list card">
        <div class="item item-image">
          <img src="img/help_icon.png" style="margin-top: -10px; margin-bottom: -10px">
        </div>
        <a class="item item-icon-left">
          <i class="icon ion-help"></i> FAQ
        </a>
      </div>
    </a>
  </div>
</div>
