<div class="bar bar-header bar-stable" style="height: 65px">
  <div class="row">
    <div class="col">
      <button class="button button-block icon-left ion-ios-flame" style="margin: 0">Login</button>
    </div>
    <div class="col col-50">
    </div>
    <div class="col">
      <button class="button button-block icon-left ion-checkmark-round" style="margin: 0">Register</button>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 70px">
  <div class="col col-25"></div>
  <div class="col">
    <img src="img/logo_white.png" class="logo">
  </div>
  <div class="col col-25"></div>
</div>
<div class="row">
  <div class="col">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Airport
        </div>
        <select>
          <option>JFK</option>
          <option selected>O'Hare</option>
          <option>LAX</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Time (Hrs.)</span>
        <input type="number" placeholder="10">
      </label>
      <label class="item item-input">
        <span class="input-label">Budget ($)</span>
        <input type="number" placeholder="100">
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <button class="button button-block button-balanced" ng-click="nextPage()">
      Find Routes
    </button>
  </div>
</div>
