<div class="bar bar-header bar-stable" style="height: 65px">
  <div class="row">
    <div class="col col-25">
    </div>
    <div class="col col-50" style="text-align: center; justify-content: center">
      <h3>Categories</h3>
    </div>
    <div class="col col-25">
    </div>
  </div>
</div>
<div class="row" style="margin-top: 70px">
  <div class="col">
    <ul class="list">
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Theatre
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Parks
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Museums
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Food
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
          <input type="checkbox">
        </label>
        Attractions
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <button class="button button-block button-balanced" ng-click="nextPage()">
      Next
    </button>
  </div>
</div>
