<div class="bar bar-header bar-stable" style="height: 65px">
  <div class="row">
    <div class="col col-25">
    </div>
    <div class="col col-50" style="text-align: center; justify-content: center">
      <h3>Itineraries</h3>
    </div>
    <div class="col col-25">
    </div>
  </div>
</div>
<div class="row" style="margin-top: 70px">
  <div class="col">
    <div class="list list-inset" ng-if="itineraries.length > 0">
      <label class="item item-radio" ng-repeat="itinerary in itineraries" ng-click="selectItinerary(itinerary)">
        <input type="radio" name="group">
        <div class="radio-content">
          <div class="item-content row">
            <div class="col">
              Route {{$index + 1}}
            </div>
            <div class="col">
              Cost: ${{itinerary.cost}} Time: {{(itinerary.time / 60) | number: 0}}Hrs {{itinerary.time % 60}}Mins
            </div>
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </div>
      </label>
    </div>
    <div ng-if="itineraries.length == 0">
      <h5 style="color: white">No possible itineraries. Go back and update options please.</h5>
    </div>
  </div>
</div>
<div class="row" ng-if="itineraries.length > 0">
  <div class="col">
    <button class="button button-block button-balanced" ng-click="nextPage()">
      Pick Itinerary
    </button>
  </div>
</div>
<script id="modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Route Details</h1>
      <div class="button button-clear" ng-click="modal.hide()">
        <span class="icon ion-close"></span>
      </div>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
      <div class="list">
        <a class="item item-thumbnail-left" href="#" ng-repeat="location in currentItinerary.locations">
          <img ng-src="{{location.image}}">
          <h2>{{location.name}}</h2>
          <p>Cost: ${{location.cost}} Time: {{location.time.hours}}Hr(s) {{location.time.minutes}} Min(s)</p>
        </a>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
