<div class="bar bar-header bar-stable" style="height: 65px">
  <div class="row">
    <div class="col col-25">
    </div>
    <div class="col col-50" style="text-align: center; justify-content: center">
      <h3>Options</h3>
    </div>
    <div class="col col-25">
    </div>
  </div>
</div>
<div class="row" style="margin-top: 70px">
  <div class="col">
    <div class="list list-inset">
      <label class="item item-radio" ng-click="modal.show()">
        <input type="radio" name="group">
        <div class="radio-content">
          <div class="item-content">
            Option 1
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </div>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="radio-content">
          <div class="item-content">
            Option 2
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </div>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="radio-content">
          <div class="item-content">
            Option 3
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </div>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="radio-content">
          <div class="item-content">
            Option 4
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </div>
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <button class="button button-block button-balanced" ng-click="nextPage()">
      Pick Itinerary
    </button>
  </div>
</div>
<script id="modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">My Modal title</h1>
      <div class="button button-clear" ng-click="modal.hide()">
        <span class="icon ion-close"></span>
      </div>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
      Information about itinerary
    </ion-content>
  </ion-modal-view>
</script>
