<div class="row">
  <div class="col col-25"></div>
  <div class="col">
    <img src="img/logo_white.png" class="logo">
  </div>
  <div class="col col-25"></div>
</div>
<div class="row">
  <div class="col" style="padding: 30px; padding-bottom: 0; margin-bottom: 0">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Location</span>
        <input type="text" ng-model="options.location" disabled>
      </label>
      <label class="item item-input" style="margin-top: 4px; justify-content: center">
        <span class="input-label">Time Available</span>
      </label>
      <div class="row" style="padding: 0; margin: 0">
        <div class="col" style="padding: 0; margin-top: 1px">
          <label class="item item-input">
            <span class="input-label">Hours</span>
            <input type="number" placeholder="10" ng-model="options.time.hours">
          </label>
        </div>
        <div class="col" style="padding: 0; margin-top: 1px; margin-bottom: 5px">
          <label class="item item-input">
            <span class="input-label">Minutes</span>
            <input type="number" placeholder="20" max="60" ng-model="options.time.minutes">
          </label>
        </div>
      </div>
      <label class="item item-input">
        <span class="input-label">Budget ($)</span>
        <input type="number" placeholder="100" ng-model="options.budget">
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col" style="padding: 30px; padding-top: 5px">
    <button class="button button-block button-balanced" ng-click="nextPage()">
      Find Routes
    </button>
  </div>
</div>
