<div class="row">
  <div class="col col-25"></div>
  <div class="col">
    <img src="img/logo_white.png" class="logo">
  </div>
  <div class="col col-25"></div>
</div>
<div class="row">
  <div class="col" style="padding: 30px; padding-bottom: 30px;">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Airport
        </div>
        <select>
          <option>JFK</option>
          <option selected>O'Hare</option>
          <option>LAX</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Hours</span>
        <input type="number" placeholder="10">
      </label>
      <label class="item item-input">
        <span class="input-label">Minutes</span>
        <input type="number" placeholder="10" max="60">
      </label>
      <label class="item item-input">
        <span class="input-label">Budget ($)</span>
        <input type="number" placeholder="100">
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col" style="padding: 30px">
    <button class="button button-block button-balanced" ng-click="nextPage()">
      Find Routes
    </button>
  </div>
</div>
