/* Empty. Add your own CSS if you like */

body, .pane {
  background-color: #34495e;
}
.logo {
  width: 100%;
  height: auto;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.angular-google-map-container {
  height: 400px;
}
